<div class="my-team", data-name = {{lowerName}} data-mascot={{mascot}} data-record = {{record}} data-color={{teamColor}}>
                  <div class="my-team-contents">
                    <div class="my-team-logo">
                      <img src={{logoURL}}>
                    </div>
                    <div class="my-team-info">
                      <a href="/teams/{{lowerName}}" class="team-name" style="color:{{teamColor}}" >{{name}} {{mascot}}</a>
                      <span class="team-record">{{record}}</span>
                    </div>
                  </div>
              </div>